<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= data.pageName %>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <%- include("../views/header.ejs") %>
            <div class="row">
                <div class="col-md-5 mx-auto text-center">
                    <h1 class="display-3">Login</h1>
                    <div class="<%= data.class %>">
                        <%= data.message %>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-11 col-md-5 mt-5 mx-auto card">
                    <div class="card-body">
                        <form action="/login" method="POST">
                            <div class="form-group">
                                <label for="usernme">Username</label>
                                <input type="text" class="form-control" id="username" name="username" />
                            </div>
                            <div class="form-group">
                                <label for="usernme">Password</label>
                                <input type="password" class="form-control" id="password" name="password" />
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Login</button>
                                <a href="register">Register</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</body>

</html>